    .search {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .search-center {
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
    .search-top {
        justify-content: center;
        align-items: flex-start;
    }
    
    body {
        background-color: rgb(32, 100, 151);
    }